RewriteEngine on

# Makes sure the extension is trimmed off.
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Add Caching.
<FilesMatch ".(jpg|jpeg|png|js|css)$">
    Header set Cache-Control "max-age=2592000"
</FilesMatch>

# Custom error pages.
ErrorDocument 404 /404.html

# Prevent viewing of htaccess file.
<Files .htaccess>
    order allow,deny
    deny from all
</Files>